In [2]:
import pandas as pd

#### Reading data from the file

In [3]:
data = pd.read_csv('adult.data.csv')

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
data['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [6]:
data.shape

(32561, 15)

In [7]:
race_counts = data['race'].value_counts()

In [8]:
race_counts

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

#### What is the average age of men?

In [9]:
average_age_men = data.loc[data['sex']=='Male','age'].mean()

In [10]:
average_age_men

39.43354749885268

#### What is the percentage of people who have Bachelors Degree?

In [11]:
percentage_bachelors = float(((data['education'] == 'Bachelors').sum()) / data.shape[0]) * 100

In [12]:
percentage_bachelors

16.44605509658794

#### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K? What percentage of people without advanced education make more than 50K?

In [13]:
higher_education = data[data['education'].isin(['Bachelors','Masters','Doctorate'])]

In [14]:
higher_education.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [15]:
lower_education = data[~data['education'].isin(['Bachelors','Masters','Doctorate'])]

In [16]:
lower_education.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K

In [17]:
higher_education_rich = higher_education[higher_education['salary'] == '>50K']['salary'].count() / higher_education.shape[0] * 100

In [18]:
higher_education_rich

46.535843011613935

In [19]:
lower_education_rich = lower_education[lower_education['salary'] == '<=50K']['salary'].count() / lower_education.shape[0] * 100

In [20]:
lower_education_rich

82.6286398085361

In [21]:
data['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

#### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [22]:
min_work_hours = data['hours-per-week'].min()

In [23]:
min_work_hours

1

#### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [24]:
num_min_workers = data[data['hours-per-week'] == 1]['hours-per-week'].count()

In [25]:
num_min_workers

20

In [26]:
rich_percentage = data[(data['hours-per-week'] == 1) & (data['salary'] == '>50K')].shape[0] / num_min_workers * 100

In [27]:
rich_percentage

10.0

#### What country has the highest percentage of people that earn >50K?

In [28]:
    highest_earning_country_1 = round(
        (data.loc[data['salary'] == '>50K', 'native-country'].value_counts() /
         data['native-country'].value_counts()) * 100, 1).idxmax()
print(highest_earning_country_1)

Iran

In [29]:
data['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

#### Identify the most popular occupation for those who earn >50K in India.

In [30]:
top_IN_occupation = data.loc[(data['native-country'] == 'India') & (
        data['salary'] == '>50K'), 'occupation'].value_counts().idxmax()

In [31]:
top_IN_occupation

'Prof-specialty'